body {
    font-family: "Open Sans", sans-serif, #F0E68C;
}
h1, h2, h3, h4 {
    font-family: "Lobster", cursive;
}
h4{
    font-family: "Lobster", cursive;
    text-align:center;
}
footer {
    background-image: linear-gradient(to right, #5637DD, #800000, #60106B);
    padding: 20px 0;
    color:white;
}
.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #800000, #60106B);
    color: black;
    margin: 0;
}
.navbar {
    background-color: transparent;
}
.space{
    margin: 0;
    padding: 0;
    height: 50px;
}
.img-center {
    width: 400px;
    height:350px;
    background-color: white;
    transition:transform 0.25s ease;
  }
  .row {
    display: flex;
    margin: auto;
  }