body {
    font-family: "Open Sans", sans-serif, #F0E68C;
}
h1, h2, h3, h4 {
    font-family: "Lobster", cursive;
}
footer {
    background-image: linear-gradient(to right, #5637DD, #800000, #60106B);
    padding: 20px 0;
    color:white;
}
.jumbotron {
    padding: 30px;
    background-image: linear-gradient(to right, #5637DD, #800000, #60106B);
    color: white;
}